/***** css rules star selector and body *****/
* {
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
}

/***** variables *****/
:root {
    --bg_orange: #cd3d0f;
    --bg_light_grey: #bebcbb;
    --bg_b_light_grey: #d9dadc;
    --bg_dark_blue: #161c3b;
    --bg_blue: #00439c;
    --c_dark_blue: #161c3b;
}

/***** reset padding for heading and paragraph *****/
h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/***** gap *****/
.column_gap {
    column-gap: 1vw;
}

.row_gap {
    row-gap: 20px;
}

.row_gap_lg {
    row-gap: 40px;
}

/***** hover sections *****/
/* hover header */
a.bg-dark:hover,
[src*="lens"]:hover {
    transition: all .15s ease-in-out;
}
    
a.bg-dark:hover {
    outline: white solid 3px;
    outline-offset: -6px;
}

[src*="lens"]:hover {
    transform: scale(1.3);
}

/* hover jumbotron */
#jumbotron .row a {
    transition: all .15s ease-in-out;
}

#jumbotron .row a:hover {
    outline: black solid 4px;
    outline-offset: -6px;
}