/***** css rules star selector and body *****/
* {
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
}

/***** variables *****/
:root {
    --bg_orange: #cd3d0f;
}

/***** reset padding for heading and paragraph *****/
h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/***** gap *****/
.column_gap {
    column-gap: 1vw;
}

.row_gap {
    row-gap: 20px;
}

.row_gap_lg {
    row-gap: 40px;
}