/***** header *****/
.img_wrapper {
    width: 100px;
}

.dropdown a::after {
    content: none;
}

.dropdown a, 
#new .text-primary {
    font-weight: 600;
    font-size: 0.9rem;
}

[src*="chevron"] {
    width: 10px;
    margin-left: 5px;
}

[src*="lens"] {
    width: 30px;
}

/***** section #jumbotron *****/
#jumbotron {
    margin-top: 98px;
    padding: 250px 0 100px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.wrapper_a {
    margin-top: 10px;
}

#jumbotron .row a {
    background-color: var(--bg_orange);
    padding: 10px 15px;
}

#jumbotron .row a:hover {
    border: 2px solid white;
    outline: var(--bg_orange) solid 2px;
}

#jumbotron h1 {
    font-size: 2.5rem;
}

#jumbotron p {
    font-size: 1.2rem;
}

/***** section new *****/
#new [src*="retur"], 
#new [src*="ratch"]{
    border-radius: 20px;
}

#new .container-fluid div:nth-child(2) h2, 
#new .container-fluid div:nth-child(3) h2 {
    font-size: 45px;
}

#new .text-secondary {
    font-weight: 500;
    font-size: 20px;
}

#new p.d-none {
    font-weight: 500;
}

.m_height_vr {
    min-height: 62px;
}

/***** section jumbotwo *****/
#jumbotwo {
    padding: 50px 0 100px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
}

#jumbotwo .row a {
    background-color: var(--bg_orange);
    padding: 10px 15px;
}

#jumbotwo .row a:hover {
    border: 2px solid white;
    outline: var(--bg_orange) solid 2px;
}


#jumbotwo h1 {
    font-size: 2.5rem;
}

#jumbotwo p {
    font-size: 1.2rem;
}

/***** section soon *****/
#soon .mb-3 > h2 {
    font-size: 2rem;
}

#soon .mb-3 > p {
    font-size: 1.6rem;
}

#soon [src*="crash"], 
#soon [src*="tony"]{
    border-radius: 20px;
}

#soon [src*="crash"] + h3, 
#soon [src*="tony"] + h3 {
    font-size: 1.1rem;
    margin-top: 15px;
}

/***** section play4 *****/
#play4 h2.mb-3 {
    font-size: 2.5rem;
}

#play4 .text-secondary {
    font-weight: 500;
    font-size: 1.3rem;
}

#play4 h5.card-title {
    font-size: 2rem;
}

/***** section psplus *****/
#psplus {
    background-color: var(--bg_light_grey);
}

#psplus .col-12 > p {
    font-weight: 600;
}

#psplus .col-12 > a {
    background-color: var(--bg_b_light_grey);
    font-weight: 600;
    padding: 10px 15px;
}

#psplus .col-12 > a:hover {
    border: 2px solid #2d64e6;
    outline: var(--bg_b_light_grey) solid 2px;
}

#psplus .wrapper_a {
    margin-top: 10px;
}

/***** section ps-store *****/
#ps_store .col-12 > h2 {
    font-size: 2.5rem;
}

#ps_store .col-12 > p {
    font-size: 1.4rem;
    font-weight: 500;
}

/***** section play station plus *****/
#play_now {
    background-color: var(--bg_dark_blue);
}

#play_now .col-12 > p {
    font-weight: 600;
}

#play_now .col-12 > a {
    font-weight: 600;
    padding: 10px 15px;
    color: var(--c_dark_blue) !important;
}

#play_now .col-12 > a:hover {
    border: 2px solid var(--bg_dark_blue);
    outline: white solid 2px;
}

#play_now .wrapper_a {
    margin-top: 10px;
}









/***** mediaquery *****/
@media screen and (min-width: 768px) {
    #new .image_low {
        width: 75% !important;
    }
}

@media screen and (min-width: 1480px) {
    #jumbotron {
        padding: 350px 0 300px;
    }

    #jumbotwo {
        padding: 200px 0 300px;
    }
}

